body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  color: #40514E;



}


h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;


}
h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{

  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  width: 30%;
  margin: auto;
  line-height: 2;

}

hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

a{
  color: #11999E;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover{
  color: #e0ebe7;
}


.top-container{
  background-color: #e0ebe7;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 100px;


}




.middle-container{

  background-color: #e0ebe7;


}

.bottom-container{

  background-color: #66BFBF;
  padding:50px 0 20px;
  height: 100px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;


}



.top-cloud{

  position: absolute;
  right: 200px;
  top: 50px;


}

.bottom-cloud{

  position: absolute;
  left: 300px;
  bottom: 300px;

}

.profilepic{
  height: 150px;
  width: 150px;
  border-radius: 90px;
  margin-top: 20px;
}


.skillsimg{

  height:180px;
  width:180px;
  border-radius: 100px;
  float: left;
  margin-right: 40px;
  margin-bottom: 10px;



}

.skillimg{
  height:180px;
  width:180px;
  border-radius: 100px;
  float: right;
  margin-left: 40px;
  margin-bottom: 10px;

}

.contact-message{

  width: 40%;
  margin: 40px auto 60px;

}

.Copyright{
  color: #EAF6F6;
  font-size: 0.95rem;

}

.btn{
  font-family: 'Montserrat', sans-serif;
  color: #6A6A6A !important;
  font-size: 12px;
  text-shadow: 1px 1px 1px #66BFBF;
  box-shadow: 2px 0px 1px #E0EBE7;
  padding: 6px 12px;
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
  border-radius: 33px;
  border: 2px solid #66BFBF;
  background: #66BFBF;
  background: linear-gradient(top,  #E0EBE7,  #66BFBF);
  background: -ms-linear-gradient(top,  #E0EBE7,  #66BFBF);
  background: -webkit-gradient(linear, left top, left bottom, from(#E0EBE7), to(#66BFBF));
  background: -moz-linear-gradient(top,  #E0EBE7,  #66BFBF);
}
.btn:hover {
  color: #14396A !important;
  background: #E0EBE7;
  background: linear-gradient(top,  #66BFBF,  #E0EBE7);
  background: -ms-linear-gradient(top,  #66BFBF,  #E0EBE7);
  background: -webkit-gradient(linear, left top, left bottom, from(#66BFBF), to(#E0EBE7));
  background: -moz-linear-gradient(top,  #66BFBF,  #E0EBE7);
}
